<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>소셜 로그인</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="jumbotron text-center">
        <h1>로그인</h1>
        <p>소셜 계정을 사용하여 로그인하세요</p>

        <div class="social-buttons">
            <!-- 구글 로그인 버튼 -->
            <a class="btn btn-danger btn-lg" th:href="@{/oauth2/authorization/google}">
                <i class="fab fa-google"></i> Google 로그인
            </a>
            <!-- 네이버 로그인 버튼 -->
            <a class="btn btn-dark btn-lg" th:href="@{/oauth2/authorization/naver}">
                <i class="fab fa-naver"></i> Naver 로그인
            </a>
        </div>

        <p class="mt-4">또는</p>

        <p>
            <a class="btn btn-secondary btn-lg" th:href="@{/login/loginForm}">일반 로그인</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->

</body>
</html>
