<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:if="${isAdmin}" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>
                    <a href="#" th:if="${isAdmin}" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

<!-- 페이징 처리 -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" th:classappend="${items.hasPrevious()} ? 'disabled' : ''">
            <a class="page-link" href="#" th:href="@{/items/{page}(page=${currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, items.totalPages - 1)}"
            th:classappend="${i == currentPage} ? 'active' : ''">
            <a class="page-link" th:href="@{/items/{page}(page=${i})}" th:text="${i + 1}"></a>
        </li>
        <li class="page-item" th:classappend="${items.hasNext()} ? 'disabled' : ''">
            <a class="page-link" href="#" th:href="@{/items/{page}(page=${currentPage + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</div>
</body>
</html>
